html {
    scroll-behavior: smooth;
}

/* Apply styles to the carousel indicators */
.custom-carousel .carousel-indicators {
    bottom: 20px; /* Adjust position as needed */
    display: flex;
    justify-content: center; /* Center align the indicators */
}

/* Apply styles to the carousel indicator items */
.custom-carousel .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.5); /* Default color for inactive circles */
    border: none;
    border-radius: 50%; /* Make the indicator a circle */
    width: 10px; /* Adjust size of circles */
    height: 10px; 
    margin: 0 5px; /* Adjust spacing between circles */
    cursor: pointer; /* Show pointer cursor on hover */
}

/* Apply styles to the active carousel indicator item */
.custom-carousel .carousel-indicators .active {
    background-color: orange; /* Color for active circle */
}

.homepage {
    position: relative;
    font-family: 'Judson', serif; /* Apply the Judson font */
}

.carousel-image {
    height: 800px;
    background-size: cover;
    background-position: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .carousel-image {
        height: 500px; /* Adjust height for smaller screens */
    }
}
